@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

html {
  font-size: 62.5%;
  /* We are setting the html font size to 10px i.e. 62.5% of 16px (default) */
  /* So 1rem = 10px */
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(209, 209, 209);
}
